.item {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  color: #423d41;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item__message--empty {
  color : #999999;
}

.item--position-1 {
  background: $golden;
  border-color: $golden-alt;
}


.item--position-2 {
  background: $silver;
  border-color: $silver-alt;
}


.item--position-3 {
  background: $bronze;
  border-color: $bronze-alt;
}